Sources:
https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

##### Importing basic libraries

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import random
random.seed(123)

In [29]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.tree import export_graphviz
#import pydot

##### Importing the data

In [8]:
ad_data = pd.read_csv("../../DATA/Advertising.csv")
ad_data = ad_data.drop('CompID', axis = 1)
ad_data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:

ad_y = np.array(ad_data['sales'])
ad_x = np.array(ad_data.drop('sales', axis = 1))

In [10]:
ad_train_x, ad_test_x, ad_train_y, ad_test_y = train_test_split(ad_x, ad_y, test_size= 0.2)

In [11]:
print('Training Features Shape:', ad_train_x.shape)
print('Training Labels Shape:', ad_train_y.shape)
print('Testing Features Shape:', ad_test_x.shape)
print('Testing Labels Shape:', ad_test_y.shape)

Training Features Shape: (160, 3)
Training Labels Shape: (160,)
Testing Features Shape: (40, 3)
Testing Labels Shape: (40,)

Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In this case, the training data has a single sample

In [12]:
ad_train_y = ad_train_y.reshape(-1,1)
ad_test_y = ad_test_y.reshape(-1,1)

# Defining the model

In [13]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Training the data

In [14]:
rf.fit(ad_train_x,ad_train_y);

/var/folders/mh/9fr225sj6bd0qgb1553s86dw0000gn/T/ipykernel_19106/82126103.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(ad_train_x,ad_train_y);

# Getting the prediction

In [15]:
predictions = rf.predict(ad_test_x)

In [16]:
predictions
ad_test_y

array([[ 9.7],
       [12.8],
       [12.9],
       [10.8],
       [12.5],
       [ 6.9],
       [14.7],
       [ 9.5],
       [ 8.5],
       [17. ],
       [11.6],
       [ 6.6],
       [21.4],
       [23.7],
       [13.2],
       [11.5],
       [10.5],
       [12.2],
       [16. ],
       [ 9.5],
       [16.9],
       [11.7],
       [19. ],
       [11.8],
       [21.7],
       [15.7],
       [ 9.9],
       [12.2],
       [19.4],
       [11.7],
       [21.8],
       [ 9.4],
       [ 3.2],
       [ 9.6],
       [14.9],
       [11.7],
       [15.6],
       [17.4],
       [15.9],
       [10.7]])

# Importing the data

In [17]:
loans_data = pd.read_csv('../../DATA/loans.csv')
loans_data = loans_data.drop('id', axis = 1)
loans_data.head()

   Approve  FICO  Income  employed
0        1   531   24536         1
1        0   363   55184         0
2        0   536   49581         0
3        1   567   47146         1
4        1   709   79956         1

In [19]:

loans_y = np.array(loans_data['employed'])
loans_x = np.array(loans_data.drop('employed', axis = 1))

In [20]:
loans_train_x, loans_test_x, loans_train_y, loans_test_y = train_test_split(loans_x, loans_y, test_size= 0.2)

# Defining the model

In [23]:
rf_class = RandomForestClassifier()

# Training data

In [25]:
rf_class.fit(loans_train_x,loans_train_y);

# Getting the prediction

In [26]:
y_pred = rf_class.predict(loans_test_x)

In [30]:
accuracy = accuracy_score(loans_test_y,y_pred)*100
confusion_mat = confusion_matrix(loans_test_y,y_pred)

In [31]:
print("Accuracy is",accuracy)
print("Confusion Matrix")
print(confusion_mat)

Accuracy is 87.0
Confusion Matrix
[[ 19  13]
 [ 13 155]]